body {
  margin: 0;
  background-image: url('/public/bgxmas.jpg'); /* linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), */
  background-color: #4A8764;
  color: #F3BD3C;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

p {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 700;
}

.material-symbols-outlined {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0em 0.5em;
  line-height: 150%;
  font-size: 3em;
  color: #F3BD3C;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.title {
  font-size: 2em;
  font-family: 'Righteous', 'Pacifico', cursive;
}

.artist {
  font-size: 1.5em;
  font-family: 'Marmelad', sans-serif;
}

.opaque {
  padding: .3em;
  background-color: hsla(235, 63%, 30%, .75);
}

.audio-controls {
  width: fit-content;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}