body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    ),
    url("/public/bgxmas.jpg");
  background-color: #171d2d;
  background-attachment: fixed;
  color: #f3bd3c;
  text-align: center;
  font-family: "IBM Plex Serif", serif;
  margin: 0;
}

h1 {
  background-color: #181e68;
  color: #ffde37;
  font-family: "Permanent Marker", cursive;
  margin-top: 2em;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

.material-symbols-outlined {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0.15em 0.05em;
  font-size: 2em;
  color: #f3bd3c;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2em;
  font-family: "Righteous", "Pacifico", cursive;
}

.artist {
  font-size: 1.5em;
  font-family: "Marmelad", sans-serif;
}

.opaque {
  background-color: hsla(235, 63%, 30%, 0.9);
  border-radius: 10px;
  padding: 6px 10px;
  text-align: center;
  width: fit-content;
}

.audio-controls {
  width: fit-content;
}

li {
  list-style: none;
}

.row {
  --bs-gutter-x: 0rem;
}

@keyframes glow {
  from {
    box-shadow: 0 0 30px #181d68, 0 0 40px #181d68, 0 0 50px #181d68, 0 0 60px #181d68,
                0 0 70px #181d68, 0 0 80px #1c247d, 0 0 90px #1c247d;
  }

  to {
    box-shadow: 0 0 40px #181e68, 0 0 50px #131753, 0 0 60px #131753, 0 0 70px #131753,
                0 0 80px #131753, 0 0 90px #131753, 0 0 100px #131753;
  }
}
